/*--------------- global styles ---------------*/

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

@media (min-width: 768px) {
  section {
      padding: 75px 0;
  }
}

/*--------------- Hero search input styles ---------------*/
#hero-search {
  background-color: rgba(0,0,0,.7);
  border-radius: 5px;
}

#hero-search::placeholder {
  color: var(--bs-primary-bg-subtle);
}

div#hero-search-container {
  justify-content: center !important;
  display: flex;
}


@media only screen and (max-width: 992px) {
  form#hero-search-form {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  form#hero-search-form {
    width: 50%;
  }
}


/*--------------- How Does It Work ---------------*/

.timeline>li {
  min-height: 150px;
}


.timeline>li .timeline-image {
  background-color: #000;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0 !important;
}


.timeline>li .timeline-image img.img-fluid {
  height: 100px;
  width: 100px;
}

@media only screen and (max-width: 992px) {
  .timeline>li .timeline-image img.img-fluid {
    height: 50px;
    width: 50px;
  }
  .timeline>li .timeline-image {
    top: 50px !important;
  }
}

@media only screen and (max-width: 768px) {
  .timeline>li .timeline-image {
    top: 25px !important;
  }
}

#how-to-use > div > div:nth-child(2) > div > ul > li:nth-child(5) > div > h4 {
  color: #fed136;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

/*--------------- Team Section ---------------*/
section#team {
  padding: 150px 0 150px 0;
}

@media only screen and (max-width: 575px) {
  section#team {
    padding: 50px 0 50px 0;
  }
}

/*--------------- Login page background gif animation ---------------*/
body#login-page-body {
  background-image: url(https://i.pinimg.com/originals/01/a0/c3/01a0c3ccfbad7b1a116c020cfc669352.gif);
  background-size: cover;
  min-height: 100vh;
}