#hero-search {
  background-color: rgba(0,0,0,.7);
  border-radius: 5px;
}

#hero-search::placeholder {
  color: var(--bs-primary-bg-subtle);
}

div#hero-search-container {
  justify-content: center !important;
  display: flex;
}


@media only screen and (max-width: 992px) {
  form#hero-search-form {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  form#hero-search-form {
    width: 50%;
  }
}
